$spr_img: (
    spritesheet_name: spr_img,
    spritesheet_image: '../images/spr_img.png',
    total_width: 453px,
    total_height: 394px,
    total_width_retina: 226.5px,
    total_height_retina: 197px,
        arrow_r: (
            offset_x: -441px,
            offset_y: -104px,
            width: 6px,
            height: 10px,
            offset_x_retina: -220.5px,
            offset_y_retina: -52px,
            width_retina: 3px,
            height_retina: 5px),
        arrow_r2: (
            offset_x: -426px,
            offset_y: -125px,
            width: 6px,
            height: 10px,
            offset_x_retina: -213px,
            offset_y_retina: -62.5px,
            width_retina: 3px,
            height_retina: 5px),
        arrow_r_line: (
            offset_x: -100px,
            offset_y: -244px,
            width: 186px,
            height: 19px,
            offset_x_retina: -50px,
            offset_y_retina: -122px,
            width_retina: 93px,
            height_retina: 9.5px),
        bg_pattern: (
            offset_x: 0,
            offset_y: 0,
            width: 341px,
            height: 190px,
            offset_x_retina: 0,
            offset_y_retina: 0,
            width_retina: 170.5px,
            height_retina: 95px),
        box_arrow: (
            offset_x: 0,
            offset_y: -297px,
            width: 27px,
            height: 97px,
            offset_x_retina: 0,
            offset_y_retina: -148.5px,
            width_retina: 13.5px,
            height_retina: 48.5px),
        btn_next: (
            offset_x: -426px,
            offset_y: -52px,
            width: 27px,
            height: 46px,
            offset_x_retina: -213px,
            offset_y_retina: -26px,
            width_retina: 13.5px,
            height_retina: 23px),
        btn_prev: (
            offset_x: -426px,
            offset_y: 0,
            width: 27px,
            height: 46px,
            offset_x_retina: -213px,
            offset_y_retina: 0,
            width_retina: 13.5px,
            height_retina: 23px),
        ico_mobile: (
            offset_x: -347px,
            offset_y: -242px,
            width: 45px,
            height: 44px,
            offset_x_retina: -173.5px,
            offset_y_retina: -121px,
            width_retina: 22.5px,
            height_retina: 22px),
        ico_pc: (
            offset_x: -156px,
            offset_y: -196px,
            width: 49px,
            height: 35px,
            offset_x_retina: -78px,
            offset_y_retina: -98px,
            width_retina: 24.5px,
            height_retina: 17.5px),
        ico_s_hub: (
            offset_x: -80px,
            offset_y: -297px,
            width: 31px,
            height: 43px,
            offset_x_retina: -40px,
            offset_y_retina: -148.5px,
            width_retina: 15.5px,
            height_retina: 21.5px),
        ico_smart_tv: (
            offset_x: -211px,
            offset_y: -196px,
            width: 43px,
            height: 35px,
            offset_x_retina: -105.5px,
            offset_y_retina: -98px,
            width_retina: 21.5px,
            height_retina: 17.5px),
        logo: (
            offset_x: 0,
            offset_y: -196px,
            width: 150px,
            height: 42px,
            offset_x_retina: 0,
            offset_y_retina: -98px,
            width_retina: 75px,
            height_retina: 21px),
        path_arrow: (
            offset_x: -426px,
            offset_y: -104px,
            width: 9px,
            height: 15px,
            offset_x_retina: -213px,
            offset_y_retina: -52px,
            width_retina: 4.5px,
            height_retina: 7.5px),
        pc_feature1: (
            offset_x: -347px,
            offset_y: -62px,
            width: 69px,
            height: 54px,
            offset_x_retina: -173.5px,
            offset_y_retina: -31px,
            width_retina: 34.5px,
            height_retina: 27px),
        pc_feature2: (
            offset_x: 0,
            offset_y: -244px,
            width: 94px,
            height: 47px,
            offset_x_retina: 0,
            offset_y_retina: -122px,
            width_retina: 47px,
            height_retina: 23.5px),
        pc_feature3: (
            offset_x: -347px,
            offset_y: 0,
            width: 73px,
            height: 56px,
            offset_x_retina: -173.5px,
            offset_y_retina: 0,
            width_retina: 36.5px,
            height_retina: 28px),
        pc_feature4: (
            offset_x: -347px,
            offset_y: -181px,
            width: 58px,
            height: 55px,
            offset_x_retina: -173.5px,
            offset_y_retina: -90.5px,
            width_retina: 29px,
            height_retina: 27.5px),
        pc_feature5: (
            offset_x: -347px,
            offset_y: -122px,
            width: 62px,
            height: 53px,
            offset_x_retina: -173.5px,
            offset_y_retina: -61px,
            width_retina: 31px,
            height_retina: 26.5px),
        pc_feature6: (
            offset_x: -33px,
            offset_y: -297px,
            width: 41px,
            height: 58px,
            offset_x_retina: -16.5px,
            offset_y_retina: -148.5px,
            width_retina: 20.5px,
            height_retina: 29px),
);
