$spr_img_2x: (
    spritesheet_name: spr_img_2x,
    spritesheet_image: '../images/spr_img_2x.png',
    total_width: 507px,
    total_height: 311px,
    total_width_retina: 253.5px,
    total_height_retina: 155.5px,
        arrow_down: (
            offset_x: -468px,
            offset_y: -277px,
            width: 21px,
            height: 13px,
            offset_x_retina: -234px,
            offset_y_retina: -138.5px,
            width_retina: 10.5px,
            height_retina: 6.5px),
        arrow_r: (
            offset_x: -297px,
            offset_y: -208px,
            width: 22px,
            height: 36px,
            offset_x_retina: -148.5px,
            offset_y_retina: -104px,
            width_retina: 11px,
            height_retina: 18px),
        arrow_r_w: (
            offset_x: -488px,
            offset_y: -122px,
            width: 13px,
            height: 22px,
            offset_x_retina: -244px,
            offset_y_retina: -61px,
            width_retina: 6.5px,
            height_retina: 11px),
        btn_nav: (
            offset_x: -425px,
            offset_y: -277px,
            width: 37px,
            height: 29px,
            offset_x_retina: -212.5px,
            offset_y_retina: -138.5px,
            width_retina: 18.5px,
            height_retina: 14.5px),
        btn_nav_close: (
            offset_x: -241px,
            offset_y: -120px,
            width: 33px,
            height: 32px,
            offset_x_retina: -120.5px,
            offset_y_retina: -60px,
            width_retina: 16.5px,
            height_retina: 16px),
        cross: (
            offset_x: -380px,
            offset_y: -113px,
            width: 36px,
            height: 36px,
            offset_x_retina: -190px,
            offset_y_retina: -56.5px,
            width_retina: 18px,
            height_retina: 18px),
        ico_mobile: (
            offset_x: -425px,
            offset_y: -205px,
            width: 66px,
            height: 66px,
            offset_x_retina: -212.5px,
            offset_y_retina: -102.5px,
            width_retina: 33px,
            height_retina: 33px),
        ico_pc: (
            offset_x: -301px,
            offset_y: -113px,
            width: 73px,
            height: 53px,
            offset_x_retina: -150.5px,
            offset_y_retina: -56.5px,
            width_retina: 36.5px,
            height_retina: 26.5px),
        ico_s_hub: (
            offset_x: -425px,
            offset_y: -122px,
            width: 57px,
            height: 77px,
            offset_x_retina: -212.5px,
            offset_y_retina: -61px,
            width_retina: 28.5px,
            height_retina: 38.5px),
        ico_smart_tv: (
            offset_x: -169px,
            offset_y: -120px,
            width: 66px,
            height: 54px,
            offset_x_retina: -84.5px,
            offset_y_retina: -60px,
            width_retina: 33px,
            height_retina: 27px),
        logo: (
            offset_x: -125px,
            offset_y: -261px,
            width: 166px,
            height: 47px,
            offset_x_retina: -62.5px,
            offset_y_retina: -130.5px,
            width_retina: 83px,
            height_retina: 23.5px),
        logo_w: (
            offset_x: -125px,
            offset_y: -208px,
            width: 166px,
            height: 47px,
            offset_x_retina: -62.5px,
            offset_y_retina: -104px,
            width_retina: 83px,
            height_retina: 23.5px),
        pc_feature1: (
            offset_x: 0,
            offset_y: 0,
            width: 146px,
            height: 114px,
            offset_x_retina: 0,
            offset_y_retina: 0,
            width_retina: 73px,
            height_retina: 57px),
        pc_feature2: (
            offset_x: 0,
            offset_y: -120px,
            width: 163px,
            height: 82px,
            offset_x_retina: 0,
            offset_y_retina: -60px,
            width_retina: 81.5px,
            height_retina: 41px),
        pc_feature3: (
            offset_x: -152px,
            offset_y: 0,
            width: 143px,
            height: 110px,
            offset_x_retina: -76px,
            offset_y_retina: 0,
            width_retina: 71.5px,
            height_retina: 55px),
        pc_feature4: (
            offset_x: -301px,
            offset_y: 0,
            width: 118px,
            height: 107px,
            offset_x_retina: -150.5px,
            offset_y_retina: 0,
            width_retina: 59px,
            height_retina: 53.5px),
        pc_feature5: (
            offset_x: 0,
            offset_y: -208px,
            width: 119px,
            height: 103px,
            offset_x_retina: 0,
            offset_y_retina: -104px,
            width_retina: 59.5px,
            height_retina: 51.5px),
        pc_feature6: (
            offset_x: -425px,
            offset_y: 0,
            width: 82px,
            height: 116px,
            offset_x_retina: -212.5px,
            offset_y_retina: 0,
            width_retina: 41px,
            height_retina: 58px),
);
